# API
NEXT_PUBLIC_API_URL=http://localhost:3310/api/v1

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-nextauth-secret-min-32-chars

# OAuth Google (optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth Facebook (optional)
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
